<!DOCTYPE html>
<html lang="en">
<head>
    <title>Batoru Royale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/socket.io.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" charset="utf-8">
        namespace = '/fight'; // change to an empty string to use the global namespace

        // the socket.io documentation recommends sending an explicit package upon connection
        // this is specially important when using the global namespace
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
        var id = 0;

        // event handler for server sent data
        // the data is displayed in the "Received" section of the page
        socket.on('fight status', function(msg) {
            $('#status').prepend($('<div/>').text(msg.data).html() + '<br>');
        });

        socket.on('fight log', function(msg) {
            $('#log_text').prepend($('<small/>').text(msg.data).html() + '<br>');
        });

        socket.on('fight players', function(msg) {
             $('#playerlist')
                 .append($("<option></option>")
                 .attr("value",msg.player)
                 .text(msg.player));

        });

        // event handler for new connections
        socket.on('connect', function() {
            socket.emit('my message', {data: 'I\'m connected!'});
            id = socket.id;
        });

        $( document ).ready(function() {

            $( "#fightbox" ).hide()

            $( "#join" ).click(function() {
                $( "#fightbox" ).show()
                $( "#joinbox" ).hide()
                $('#log_text').empty();
                $('#status').empty();
                $('#fightbox').prepend('<h2>' + $('<div/>').text($( "#player" ).val()).html() + '</h2>');

                socket.emit('join', {room: 'players', player: $( "#player" ).val()});
                return false;
            });

            $( "#fight" ).click(function() {
                $('#log_text').empty();
                socket.emit('fight', {room: id, data: 'single', player: $( "#player" ).val()});
            });

            $( "#level" ).click(function() {
                $('#log_text').empty();
                socket.emit('fight', {room: id, data: 'level', player: $( "#player" ).val()});
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Batoru Royale</h1>
        </div>
        <div class="row">
            <div id="joinbox">
                <input type="text" id="player" placeholder="player name" />
                <input type="button" value="Join!" id="join" />
            </div>
        </div>
        <div class="row">
            <div id="fightbox">
                <select id="playerlist">
                  <option value="">Random</option>
                </select>
                <input type="button" value="Fight!" id="fight" />
                <h3>Status</h3>
                <div id="status" class="info"></div>
                <h3>Log</h3>
                <div id="log" class="info"><small id="log_text"></small></div>
            </div>
        </div>
    </div>
</body>
</html>