<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Batoru Royale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/socket.io.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.idle.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" charset="utf-8">
        namespace = '/fight'; // change to an empty string to use the global namespace

        // the socket.io documentation recommends sending an explicit package upon connection
        // this is specially important when using the global namespace
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
        var id = 0;

        // event handler for server sent data
        // the data is displayed in the "Received" section of the page
        socket.on('fight status', function(msg) {
            $('#status').prepend($('<div/>').text(msg.data).html() + '<br>');
        });

        socket.on('fight log', function(msg) {
            $('#log_text').prepend($('<small/>').text(msg.data).html() + '<br>');
        });

        socket.on('fight front', function(json) {
            var player_window = JSON.parse(json.data);
            if ($( "#player" ).val() == player_window.name) {
                $('#player_window').empty();
                $('#player_window').prepend(
                    $('<div/>').text(player_window.name).html()
                    + '<br>'
                    + '<div class="progress">'
                    + '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="'
                    + player_window.hit_points
                    + '" aria-valuemin="0" aria-valuemax="'
                    + player_window.hit_points
                    + '" style="width: 100%">'
                    + '</div>'
                    + '</div>'
                );
            } else {
                $('#opponent_window').empty();
                $('#opponent_window').prepend(
                    $('<div/>').text(player_window.name).html()
                    + '<br>'
                    + '<div class="progress">'
                    + '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="'
                    + player_window.hit_points
                    + '" aria-valuemin="0" aria-valuemax="'
                    + player_window.hit_points
                    + '" style="width: 100%">'
                    + '</div>'
                    + '</div>'
                );
            }
        });

        socket.on('fight scroll', function(json) {
            var fight_scroll = JSON.parse(json.data);
            loser_hitpoints = fight_scroll.loser.hit_points;
            percent = 0;
            bar_class = '';
            old_class = '';
            if (fight_scroll.winner.name == $( "#player" ).val()) {
                max = $('#opponent_window .progress-bar').attr('aria-valuemax');
                divider = Math.round(max / 100);
                if ( loser_hitpoints > 0 ) {
                    percent = Math.round(loser_hitpoints / divider);
                }
                if ( percent < 60 ) {
                    bar_class = 'progress-bar-warning';
                }
                if ( percent < 40 ) {
                    bar_class = 'progress-bar-danger';
                    old_class = 'progress-bar-warning';
                }
                $('#opponent_window .progress-bar').addClass(bar_class).removeClass(old_class);
                $('#opponent_window .progress-bar').attr('aria-valuenow', loser_hitpoints);
                $('#opponent_window .progress-bar').width(percent + '%');
            } else {
                max = $('#player_window .progress-bar').attr('aria-valuemax');
                divider = Math.round(max / 100);
                if ( loser_hitpoints > 0 ) {
                    percent = Math.round(loser_hitpoints / divider);
                }
                if ( percent < 60 ) {
                    bar_class = 'progress-bar-warning';
                }
                if ( percent < 40 ) {
                    bar_class = 'progress-bar-danger';
                    old_class = 'progress-bar-warning';
                }
                $('#player_window .progress-bar').addClass(bar_class).removeClass(old_class);
                $('#player_window .progress-bar').attr('aria-valuenow', loser_hitpoints);
                $('#player_window .progress-bar').width(percent + '%');
            }
        });

        socket.on('fight players', function(msg) {
            $('#playerlist').empty()
            $('#playerlist').append($("<option></option>")
                 .attr('value','monster')
                 .text('monster'));
            $.each( msg.player, function( key, value ) {
              if (key != $( "#player" ).val()) {
                  $('#playerlist').append($("<option></option>")
                     .attr("value",value)
                     .text(key));
              }
            });
        });

        // event handler for new connections
        socket.on('connect', function() {
            socket.emit('my message', {data: 'I\'m connected!'});
            id = socket.id;
        });

        $( document ).ready(function() {

            $( "#fightbox" ).hide()

            $( "#join" ).click(function() {
                $( "#fightbox" ).show()
                $( "#joinbox" ).hide()
                $('#log_text').empty();
                $('#status').empty();
                $('#fightbox').prepend('<h2>' + $('<div/>').text($( "#player" ).val()).html() + '</h2>');

                socket.emit('join', {room: 'players', player: $( "#player" ).val(), player_room: id});
                return false;
            });

            $( "#fight" ).click(function() {
                // $('#log_text').empty();
                $opponent = $('#playerlist').find(":selected").text();
                socket.emit('fight', {room: id, data: $opponent, player: $( "#player" ).val()});
            });

            $( "#level" ).click(function() {
                // $('#log_text').empty();
                socket.emit('fight', {room: id, data: 'level', player: $( "#player" ).val()});
            });
        });

        $(document).idle({
            onIdle: function(){
              socket.emit('leave', {room: 'players', player: $( "#player" ).val(), player_room: id});
              $('#status').prepend($('<div/>').text('You are now marked as idle.').html() + '<br>');
            },
            onActive: function(){
              socket.emit('join', {room: 'players', player: $( "#player" ).val(), player_room: id});
            },
            idle: 60000
        })
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Batoru Royale</h1>
        </div>
        <div class="row">
            <div id="joinbox" class="form-group form-inline col-lg-12">
                <input type="text" id="player" placeholder="player name" class="form-control" />
                <button type="button" class="btn btn-primary" id="join">Join!</button>
            </div>
            <div id="fightbox" class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-inline">
                           <select id="playerlist" class="form-control">
                                <option value="">Random</option>
                            </select>
                            <button type="button" class="btn btn-danger" id="fight">Fight!</button>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div id="player_window" class="info"></div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div id="opponent_window" class="info"></div>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Status</h3>
                            </div>
                            <div id="status" class="info panel-body"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Log</h3>
                            </div>
                            <div id="log" class="info panel-body">
                                <small id="log_text"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>