<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Batoru Royale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/socket.io.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.idle.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/react.min.js"></script>
    <script type="text/javascript" src="js/react-dom.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="js/battle.js"></script>
</head>
<body>
    <div class="page-header">
        <h1>Batoru Royale</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="joinbox" class="form-group form-inline">
                    <input type="text" id="player" placeholder="player name" class="form-control" />
                    <button type="button" class="btn btn-primary" id="join">Join!</button>
                </div>
                <div id="fightbox" class="container form-group">
                    <div class="row margin-bottom">
                        <div class="col-lg-12">
                            <div class="form-inline">
                               <select id="playerlist" class="form-control">
                                    <option value="">Random</option>
                                </select>
                                <button type="button" class="btn btn-danger" id="fight">Fight!</button>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-lg-12">
                                <button type="button" class="btn btn-success" id="heal">Heal me!</button>
                                <button type="button" class="btn btn-success" id="boost">Boost!</button>
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div id="player_window">
                                <div class="progress_holder"></div>
                                <img class="bam" src="images/bam.png" style="display: none;"/>
                                <img class="puff" src="images/puff.png" style="display: none;"/>
                                <img class="splash" src="images/splash.png" style="display: none;"/>
                                <img class="swooosh" src="images/swooosh.png" style="display: none;"/>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div id="opponent_window">
                                <div class="progress_holder"></div>
                                <img class="bam" src="images/bam.png" style="display: none;"/>
                                <img class="puff" src="images/puff.png" style="display: none;"/>
                                <img class="splash" src="images/splash.png" style="display: none;"/>
                                <img class="swooosh" src="images/swooosh.png" style="display: none;"/>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-8">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Status</h3>
                                </div>
                                <div id="status" class="info panel-body"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Log</h3>
                                </div>
                                <div id="log" class="info panel-body">
                                    <small id="log_text"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="resultModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Ooooooooowwwwww...</h4>
          </div>
          <div class="modal-body">
            <p>You LOST!</p>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>