<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Batoru Royale -- Player status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/socket.io.min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.idle.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/react.min.js"></script>
    <script type="text/javascript" src="/js/react-dom.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/player.js"></script>
</head>
<body>
    <div class="page-header">
        {% if player.name %}
          <h1>Hello {{ player.name }}!</h1>
        {% else %}
          <h1>Hello World!</h1>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">Level: <span class="label">{{ player.level }}</span></div>
            <div class="col-lg-12">Type: <span class="label">{{ player.type }}</span></div>
            <div class="col-lg-12">Strength: <span class="label">{{ player.strength }}</span></div>
            <div class="col-lg-12">Stamina: <span class="label">{{ player.stamina }}</span></div>
            <div class="col-lg-12">Hit points: <span class="label">{{ player.hitPoints }}</span></div>
            <div class="col-lg-12">Experience: <span class="label">{{ player.experience }}</span></div>
        </div>
    </div>
</body>